body {
    margin: 10px;
}
#toolbar {
    text-align: center;
}

#logo {
    width:280px;
}

.wholepart {
    padding: 20px;
}

#close {
    width: 38px;
    float: right;
}
#usr {
    margin: 3px auto 20px;
    width: 300px;
}
#usr::placeholder {  
    text-align: center; 
}
